<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Cadastrar Notas</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{base_url() }}/css/app.css" rel="stylesheet">
    </head>
    <body>
    {% include 'templates/partials/navigation.twig' %}
    <div class="container">
         {% include 'templates/partials/flash.twig' %}
         {% block content %} {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    ></script>
    </body>
</html>