{% extends 'templates/app.twig' %}


{% block content %}
	<div class="col-md-6 col-md-offset-3">
		<div class="panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				<form action="{{ path_for('create.category') }}" method="post"> 
                    <div class="form-group">
						<label for="name">Nome</label>
						<input type="name" name="name" class="form-control" >
					</div>
					<div class="form-group">
						<label for="description">Descrição</label>
						<input type="name" name="description" class="form-control" >
					</div>
					<button type="submit" class="btn btn-default">Criar Categoria</button>
					{{ csrf.field | raw }}
					
                </form>
			</div>
		</div>
	</div>
	
{% endblock %}