{# empty Twig template #}
{% extends 'templates/app.twig' %}

{% block content %}
<div class="container-fluid cards-row">
    <div class="container">
      	{{ nome }}
    </div>
</div>
{% endblock %}

